.main-div {
    height: 800px;
    width: 300px;
    background-color: rgb(46, 46, 46);
    padding: 20px;
    text-align: center;
}

.main-div h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.current-url {
    padding: 10px;
    font-size: 15px;
    background-color: azure;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    /* margin: 20px; */
}

.action-btn {
    padding: 10px 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 8px;
    background-color: coral;
    margin: 15px;
}

.recommendations-div {
    padding: 10px;
    font-size: 15px;
    color: black;
    background-color: white;
}

.recommendations-div:hover {
    color: black;
    background-color: whitesmoke;
}
